


html, body {
    height: 100%;
}

body {
    margin: 0;
}

#app {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    height: 500px;
    resize: none;
    border-radius: 5px 5px;
    padding: 10px;
}

.section {
    padding: 10px;
    margin: 10px;
    height: 550px;
}

#input {
    flex: 1;
    display: inline-block;
}

#output {
    flex: 2;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px 5px;
}

